{% extends "base.html" %}
{% block css %}
<link href="/static/css/pagination.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/demo.css" />
{% endblock %}
{% block content %}
<div class="bs-docs-example">
<div id="carousel-ll" class="carousel slide" data-ride="carousel"> 
  <ol class="carousel-indicators">
    <li data-target="#carousel-ll" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-ll" data-slide-to="1"></li>
    <li data-target="#carousel-ll" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
 	<img src="static/img/1.jpg"alt="">
		<div class="carousel-caption">
		<h1>Another example headline.</h1>
		</div>
    </div>
    <div class="item">
 	<img src="static/img/2.jpg"alt="">
    </div>
    <div class="item">
 	<img src="static/img/3.jpg"alt="">
    </div>
  </div>
  <a class="carousel-control left " href="#carousel-ll" data-slide="prev"><span class="badge"><</span></a>
  <a class="carousel-control right" href="#carousel-ll" data-slide="next"><span class="badge">›</span></a>
</div>
<nav id="bar-all" class="navbar navbar-default navbar-static" role="navigation">
<div class="row">
        <div id='bar-left' class="col-md-3">
                <div  class="bs-sidebar hidden-print " role="complementary">
                        <ul class="nav bs-sidenav">
                                <li><a href="#KNN">KNN</a>
                                        <ul class="nav">
                                        <li >
                                                <a href="#KNN-1">knn1</a>
                                        </li>
                                        <li>
                                                <a href="#KNN-2">knn2</a>
                                        </li>
                                        </ul>
                                </li>
                                <li><a href="#BYES">贝叶斯</a>
					 <ul class="nav">
                                        <li >
                                                <a href="#BYES-1">朴素贝叶斯</a>
                                        </li>
                                        <li>
                                                <a href="#BYES-2">CART</a>
                                        </li>
                                        </ul>
                                </li>
                                <li><a href="#DECI-TREE">决策树</a>
					 <ul class="nav">
                                        <li >
                                                <a href="#DECI-1">ID3</a>
                                        </li>
                                        <li>
                                                <a href="#DECI-2">CART</a>
                                        </li>
                                        </ul>
                                </li>
			</ul>
                </div>
        </div>
        <div data-spy="scroll" data-target="#bar-all" data-offset="0" class="scrollspy-example">
        <div class="col-md-9" role="main">
                <div class="bs-docs-section">
                        <div class="page-header">
                                <h1 id="KNN">KNN算法</h1>
                                <p class=""> KNN 分类算法-监督学习算法 </p>
                                <p class=""> k-近邻采用测量不同特征值之间的距离方法进行分类,简言之就是求测试数据与所有样本集的距离，然后按照距离递增排序，求前K个，距离前K个的类别来判断测试数据的类别 [距离公式为：每个特征值的误差和再开方]</p>
                        </div>
                        <h3 id="KNN-1">knn1</h3>
                        <h3 id="KNN-2">knn2</h3>
                        <div class="page-header">
                                <h1 id="BYES">byes</h1>
                                <p class="lead">深入了解Bootstrap底层结构的关键部分，包括我们让web开发变得更好、更快、更强壮的最佳实践。
</p>
                        </div>
                        <h3 id="BYES-1">byes</h3>
                        <h3 id="BYES-2">CART</h3>
                        <div class="page-header">
                                <h1 id="DECI-TREE">决策树</h1>
                                <p class="lead">深入了解Bootstrap底层结构的关键部分，包括我们让web开发变得更好、更快、更强壮的最佳实践。
</p>
                        </div>
                        <h3 id="DECI-1">ID3</h3>
			<p> ID3缺点：只能处理属性值离散的情况 适用于标称型数据 </p>
                        <h3 id="DECI-2">CART</h3>
        	</div>
        </div>
        </div>
</div>
</div>
</div>
</nav>
{% endblock %}
{% block js %}
{% endblock %}
