{% extends "base.html" %}
{% block content %}
<p> 对本产品的简单介绍 </p>
<nav id="bar-all" class="navbar navbar-default navbar-static" role="navigation">
<div class="row">
	<div id='bar-left' class="col-md-3">
		<div  class="bs-sidebar hidden-print " role="complementary">
			<ul class="nav bs-sidenav">
				<li><a href="#overview">Overview</a>
					<ul class="nav">
					<li >
						<a href="#overview-doctype">HL5文档类型</a>
					</li>
					<li>
						<a href="#overview-mobile">移备优先</a>
					</li>
					</ul>
				</li>
				<li><a href="#grid">grid</a>
					<ul class="nav">
					<li >
						<a href="#grid-doctype">HL5文档类型</a>
					</li>
					<li>
						<a href="#grid-mobile">移备优先</a>
					</li>
					</ul>
				</li>
				<li><a href="#overview">Overview</a>
					<ul class="nav">
					<li >
						<a href="#overview-doctype">HL5文档类型</a>
					</li>
					<li>
						<a href="#overview-mobile">移备优先</a>
					</li>
					</ul>
				</li>
				<li><a href="#overview">Overview</a>
					<ul class="nav">
					<li >
						<a href="#overview-doctype">HL5文档类型</a>
					</li>
					<li>
						<a href="#overview-mobile">移备优先</a>
					</li>
					</ul>
				</li>
			</ul> 
		</div>
	</div>
        <div data-spy="scroll" data-target="#bar-all" data-offset="0" class="scrollspy-example">
	<div class="col-md-9" role="main">
		<div class="bs-docs-section">
			<div class="page-header">
				<h1 id="overview">Overview</h1>
				<p class="lead">深入了解Bootstrap底层结构的关键部分，包括我们让web开发变得更好、更快、更强壮的最佳实践。</p>
			</div>
			<h3 id="overview-doctype">HTML5文档类型</h3>
				<p>tehih设置全局CSS样式，基本的HTML元素均可以通过class设置样式并得到增强效果，还有先进的栅格系统。设置全局CSS样式，基本的HTML元素均可以通过class设置样式并得到增强效果，还有先进的栅格系统。</p>
			<h3 id="overview-mobile">移动设备优先</h3>
				<p>tehih设置全局CSS样式，基本的HTML元素均可以通过class设置样式并得到增强效果，还有先进的栅格系统。设置全局CSS样式，基本的HTML元素均可以通过class设置样式并得到增强效果，还有先进的栅格系统。</p>
			<div class="page-header">
				<h1 id="grid">grid</h1>
				<p class="lead">深入了解Bootstrap底层结构的关键部分，包括我们让web开发变得更好、更快、更强壮的最佳实践。</p>
			</div>
			<h3 id="grid-doctype">HTML5文档类型</h3>
				<p>tehih设置全局CSS样式，基本的HTML元素均可以通过class设置样式并得到增强效果，还有先进的栅格系统。设置全局CSS样式，基本的HTML元素均可以通过class设置样式并得到增强效果，还有先进的栅格系统。</p>
			<h3 id="grid-mobile">移动设备优先</h3>
				<p>tehih设置全局CSS样式，基本的HTML元素均可以通过class设置样式并得到增强效果，还有先进的栅格系统。设置全局CSS样式，基本的HTML元素均可以通过class设置样式并得到增强效果，还有先进的栅格系统。</p>
		</div>
	</div>
	</div>
</div>
</div>
</div>
</nav>
{% endblock %}
